<!DOCTYPE html>
<html>
<head lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<title>Inicio</title>
</head>
<body>
	<h1> Extraer datos de la API de Spring </h1>
	
	<div id="app">
	
	<ul>
	<li > Id: {{ friends.id }}. Nombre : {{ friends.nombre }}. Username: {{ friends.username }}</li>
	</ul>
	
	</div>
	
	<script th:inline="javascript">
		var id = /*[[${id}]]*/;
	
	new Vue({
		el: '#app',
		data: { 
			friends: {},
		
		},
		mounted: function(){
			fetch("/api/friends/"+ id,
			        {headers: {
			            'Accept': 'application/json',
			            'Content-Type': 'application/json'
			        },
			        method: "GET"})
			        .then(response => response.json())
			        .then(data => {
			        	
			        	this.friends = data;
			        })
		},
	});
	</script>
</body>
</html>